
.descripcion-wal{
    text-align:left;
    font-family:  sans-serif, Arial, Helvetica;
    font-weight: 100px;
    color:black;
    

}  

.nuevo{
    background:green;
    width:50px;
    color:white;
    font-size:12px;
    font-weight:bold;

}
.codigo-producto-wal{
    color:dimgray;

}
.precio-wal{
    color:black;
    font-size:33px;
     
}

.cuotas-wal{
    font-size: 18px;
    color:green;
    
}
.devolucion-wal{
    color:dodgerblue;

}
.disponibilidad-wal{
    color:orange;

}
input{
    border:3px solid black;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.carrito-wal{
    
    background-color: yellow;
    border-radius:10px;
    font-size: 15px;
    margin-left: auto;
    margin-right:auto ;

}
.contenedor-titulos-wal{
    border:1px solid #ccc;
    border-radius: 10px;

}
.comprar-wal{
    color:white;
    background-color:dodgerblue;
    border-radius:10px;
    font-size: 20px;
    margin-left: auto;
    margin-right:auto ;

}
.btn-wsp-wal{
    position:fixed;
    width: 55px;
    height: 55px;
    bottom:30px;
    right:30px;
    line-height: 55px;
    background: #0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 0px rgba(0,0,0,3);
    z-index: 100;
    -moz-border-radius:50px;
   -webkit-border-radius:50px;

    

}
.btn-wsp-wal:hover{
    text-decoration: none;
    color:#0df053;
    background: #fff;
    
   



} 
  

    


html{
    font-family: sans-serif, Arial, Helvetica;
    background-color:#0C6291
}

#cabeza-wal{
    background-color: #0C6291 ;
}
#cuerpo-wal{
    display:flex;
    margin-top:5%;
}

#logo-wal {
    display: flex;
    background-color: #0C6291;
    justify-content: center;
    
}

#logo2-wal{
    width: 15%;
    height: 15%;
    margin-bottom: 4%;
    margin-top: 5%;
    
}

#cabecera-wal{
    background-color: #526e7e;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
    border-style: double;
    
}
#pie-wal{
    display: flex;
    background-color: black;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.textoC{
    background-color: burlywood;
}

@media only screen and (max-width: 600px) and (min-width: 400px) {

    #imagen1{
        width: 20px;
        height: 20px;
        text-align:center
    }
}

