<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
  



<div class="w3-container" style="padding:128px 16px" id="work">
  

  <div class="w3-row-padding" style="margin-top:64px">  
    <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/80-1.jpg" >
    </div>
    <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/66-1.jpg">
    </div>
    <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/76-1.jpg">
    </div>
    <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/73-1.jpg">
    </div>
  </div>
  <div class="w3-row-padding w3-section">
     <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/78-1.jpg">
    </div>
    <div class="w3-col l3 m6">
      <img src="http://www.countrychacrasdelavilla.com/img/obras/grandes/89-1.jpg">
    </div>
    
    

</body>
</html>