<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %> 
    
    <div class="derecho">
        <br>
		<h2>Ubicación</h2>
		<p>Esta  urbanización se encuentra ubicada en Villa Allende, cerca de la Ciudad de Córdoba, 
en Av. Padre Luchesse Km 29 encontramos el acceso. <br>
Está formada por 540 lotes de 1000 a 3000 m2 de superficie donde encontramos un muy lindo paisaje de sierras. 
Cuenta con seguridad las 24 horas y control de acceso.<br><br>

		</p>
<a href="http://maps.google.es/maps?q=Av.+Padre+Luchesse+Km+1,++c%C3%B3rdoba+argentina&amp;hl=es&amp;ie=UTF8&amp;sll=40.396764,-3.713379&amp;sspn=10.787528,16.940918&amp;hnear=Padre+Luchesse,+Villa+Allende,+C%C3%B3rdoba,+Argentina&amp;t=m&amp;z=14" target="_blank" style="color:#0000FF;text-align:left">Ver mapa más grande</a>	</div>

<div class="izquierdo">
    <div class="mapa">
            <iframe width="335" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=-31.30336,-64.23364&amp;aq=&amp;sll=25.860044,-97.503823&amp;sspn=0.022591,0.042272&amp;gl=mx&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=-31.30336,-64.23364&amp;output=embed"></iframe><br></div>
</div>

</body>
</html>