
<header class=" w3-display-container w3-grayscale-min" id="home">

<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
    
    <div class="w3-right w3-hide-small">
      <a href="/ubicacion" class="w3-bar-item w3-button">UBICACION</a>
      <a href="/galeria" class="w3-bar-item w3-button"><i class="fa fa-user"></i> GALERIA</a>
      <a href="/soloVecinos" class="w3-bar-item w3-button"><i class="fa fa-user"></i> SOLO VECINOS</a>
      <a href="/registro" class="w3-bar-item w3-button"><i class="fa fa-user"></i> REGISTRO</a>
      <a href="/contactO" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTO</a>
    </div>
    

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
</header>
